<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="image_0" data-id="image_0" data-view="Image"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="image_1" data-id="image_1" data-view="Image"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="image_2" data-id="image_2" data-view="Image"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="image_3" data-id="image_3" data-view="Image"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="image_4" data-id="image_4" data-view="Image"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="image_5" data-id="image_5" data-view="Image"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="image_6" data-id="image_6" data-view="Image"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="image_7" data-id="image_7" data-view="Image"></div>
    </li>
 </ul>
</div>
